/* 
    AUTHOR: Jin Tak 
    TITLE: Space Racer 2: Into the Void
    WDI 6: Project 1 
    Game Page Styling 
*/

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for background image */
.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                url(../images/space-background-2.jpg) no-repeat center;
    background-size: cover;
    position: relative;

}

/* Game Reset Styling */
input {
    height: 100px;
    width: 100px;
    background: lime;
    position: absolute;
    bottom: 100px;
    left: 50%;
}

/* Special Styling for Asteroids with Faces of People*/
#asteroidContainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/* Styling for Game Pieces */
#player1 {
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/spaceship.svg);
}
#player2 {
    height: 100px;
    width: 100px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/ufo.svg);
}

/* Styling for Asteroids */
.asteroid {
    height: 50px;
    width: 50px;
    background: url(../images/asteroid.png);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}

#asteroid_1{
    height: 100px;
    width: 100px;
    top: 150px;
    left: 150px;
    background: url(../images/people/jason.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
    
}
#asteroid_2 {
    height: 100px;
    width: 100px;
    top: 150px;
    left: 300px;
    background: url(../images/people/zeb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}

#asteroid_3 {
    height: 100px;
    width: 100px;
    top: 150px;
    left: 450px;
    background: url(../images/people/brian.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}

#asteroid_4 {
    height: 100px;
    width: 100px;
    top: 150px;
    left: 600px;
    background: url(../images/people/montrell.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}

#asteroid_5 {
    height: 100px;
    width: 100px;
    top: 150px;
    left: 750px;
    background: url(../images/people/aaron.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}

#asteroid_6 {
    height: 100px;
    width: 100px;
    top: 300px;
    left: 150px;
    background: url(../images/people/chad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_7 {
    height: 100px;
    width: 100px;
    top: 300px;
    left: 300px;
    background: url(../images/people/nick.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_8 {
    height: 100px;
    width: 100px;
    top: 300px;
    left: 450px;
    background: url(../images/people/kevin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_9 {
    height: 100px;
    width: 100px;
    top: 300px;
    left: 600px;
    background: url(../images/people/john.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_10 {
    height: 100px;
    width: 100px;
    top: 300px;
    left: 750px;
    background: url(../images/people/josh.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_11 {
    height: 100px;
    width: 100px;
    top: 150px;
    left: 900px;
    background: url(../images/people/joe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_12 {
    height: 100px;
    width: 100px;
    top: 300px;
    left: 900px;
    background: url(../images/people/ricky.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_13 {
    height: 100px;
    width: 100px;
    top: 150px;
    left: 1050px;
    background: url(../images/people/will.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}
#asteroid_14 {
    height: 100px;
    width: 100px;
    top: 300px;
    left: 1050px;
    background: url(../images/people/sassan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}

/* Styling for the div which will contain the projectiles */
#projectilesPlayer1 {
    height: 100vh;
    width: 100%;
    position: absolute;
}

#projectilesPlayer2 {
    height: 100vh;
    width: 100%;
    position: absolute;
}

/* Styling for the projectiles  */
.projectileStyleForPlayer1 {
    height: 30px;
    width: 10px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    background: rgb(255, 0, 200);
    box-shadow: 0 0 10px rgb(255, 0, 200);
    border-radius: 5px;
    /* background: url(../images/missile.png);
    background-position: center;
    background-repeat: none;
    transform: rotate(90deg); */
   
}
.projectileStyleForPlayer2 {
    height: 30px;
    width: 10px;
    position: absolute;
    bottom: 100px;
    right: 50px;
    background: rgb(102, 255, 0);
    box-shadow: 0 0 10px rgb(102, 255, 0);
    border-radius: 5px;
}

/* Styling for Score Keeper */
#player1ScoreContainer{
    /* height: 100px; */
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 20px;
    text-shadow: 0 2px 10px rgb(0, 162, 255);
}
#player2ScoreContainer{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 20px;
    text-shadow: 0 2px 10px rgb(0, 255, 42);
}

#player1ScoreHere{
    display: inline-block;
    font-size: 30px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

#player2ScoreHere{
    display: inline-block;
    font-size: 30px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.bitcoin {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    display: inline-block;
}


/* Winning Text Modal Styling */
#winningModal {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    display: none;
}

#winningModalContent {
    width: 70vw;
    margin: 12% auto;
    color: lime;
    text-shadow: 0 0 20px black;
    font-family: 'Bungee', sans-serif;
    font-size: 100px;
    padding: 50px;
    text-align: center;
    /* border: 10px solid lime;
    background: rgba(255, 255, 255, 0.5); */
    border-radius: 20px;
}



/* Animations */
.scoreAnimation {
    animation: scoreAnimation;
    animation-duration: 1s;
}

.bitcoinSpin {
    animation: bitcoinSpin;
    animation-duration: 1s;
}

.blowUp {
    animation: blowUp;
    animation-duration: 1s;
}

.winning {
    animation: winning;
    animation-duration: 5s;
}

@keyframes scoreAnimation {
    0% {
        transform: scale(1.5);
    }
    50% {
        color: rgb(255, 251, 0);
    }
    100% {
        transform: scale(1);
        color: #fff;
    }
}

@keyframes bitcoinSpin {
    to {
        transform: rotateY(360deg);
    }
}

@keyframes blowUp {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes winning {
    0%{
        border-color: red;
        color: red;
    }
    25%{
        border-color: yellow;
        color: yellow;
    }
    35% {
        border-color: orange;
        color: orange;
    }
    50%{
        border-color: blue;
        color: blue;
        
    }
    75%{
        border-color: lightblue;
        color: lightblue;
    }
    100%{
        border-color: lime;
        color: lime;
    }
}