/* 
    AUTHOR: Jin Tak 
    TITLE: Space Racer 2: Into the Void
    WDI 6: Project 1 
    Game Page Styling 
*/

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for background image */
.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(../images/game-background.jpg) no-repeat center;
    background-size: cover;
    position: relative;

}

/* Styling for asteroids */
#asteroidBelt {
    height: 100px;
    width: 100px;
    background: orangered;
    position: absolute;
    top: 100px;
    left: 100px;
}

/* Styling for Game Pieces */
#player1 {
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/spaceship.svg);
}
#player2 {
    height: 100px;
    width: 100px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/ufo.svg);
}

/* Styling for the div which will contain the projectiles */
#projectilesPlayer1 {
    height: 100vh;
    width: 100%;
    position: absolute;
}

#projectilesPlayer2 {
    height: 100vh;
    width: 100%;
    position: absolute;
}

/* Styling for the projectiles  */
.projectileStyleForPlayer1 {
    height: 30px;
    width: 10px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    background: rgb(255, 34, 237);
    box-shadow: 0 0 10px rgb(255, 34, 237);
    border-radius: 5px;
    /* background: url(../images/missile.png);
    background-position: center;
    background-repeat: none;
    transform: rotate(90deg); */
   
}
.projectileStyleForPlayer2 {
    height: 30px;
    width: 10px;
    position: absolute;
    bottom: 100px;
    right: 50px;
    background: rgb(102, 255, 0);
    box-shadow: 0 0 10px rgb(102, 255, 0);
    border-radius: 5px;
    /* background: url(../images/missile.png);
    background-position: center;
    background-repeat: none;
    transform: rotate(-90deg); */
}




/* 
.rainbow {
    animation-duration: 1.5s;
    animation-name: rainbow;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-inout;
    animation-fill-mode: forwards;
}
@keyframes rainbow{
    0% {
        background: purple;

    }
    25% {
        background: yellow;
    }
    50% {
        background: aqua;
    }
    75% {
        background: red;
    }
    100% {
        background: white;
        transform: scale(2) rotateY(360deg); 
    }
} */

/* rgb(0, 195, 255) */