/* 
    AUTHOR: Jin Tak 
    TITLE: Space Racer 2: Into the Void
    WDI 6: Project 1 
    Game Page Styling 
*/

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for background image */
.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                url(../images/space-background-2.jpg) no-repeat center;
    background-size: cover;
    position: relative;

}

/* Special Styling for Asteroids with Faces of People*/
#asteroidContainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/* Styling for Game Pieces */
#player1 {
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/spaceship.svg);
}
#player2 {
    height: 100px;
    width: 100px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url(../images/ufo.svg);
}

/* Styling for Asteroids */
.asteroid {
    height: 50px;
    width: 50px;
    background: url(../images/asteroid.png);
    background-size: cover;
    background-position: center;
    background-repeat: none; 
    border-radius: 50%;
    position: absolute;
}


/* Styling for the div which will contain the projectiles */
#projectilesPlayer1 {
    height: 100vh;
    width: 100%;
    position: absolute;
}

#projectilesPlayer2 {
    height: 100vh;
    width: 100%;
    position: absolute;
}

/* Styling for the projectiles  */
.projectileStyleForPlayer1 {
    height: 30px;
    width: 10px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    background: rgb(255, 0, 200);
    box-shadow: 0 0 10px rgb(255, 0, 200);
    border-radius: 5px;
    /* background: url(../images/missile.png);
    background-position: center;
    background-repeat: none;
    transform: rotate(90deg); */
   
}
.projectileStyleForPlayer2 {
    height: 30px;
    width: 10px;
    position: absolute;
    bottom: 100px;
    right: 50px;
    background: rgb(102, 255, 0);
    box-shadow: 0 0 10px rgb(102, 255, 0);
    border-radius: 5px;
}

/* Styling for Score Keeper */
#player1ScoreContainer{
    /* height: 100px; */
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 20px;
    text-shadow: 0 2px 10px rgb(0, 162, 255);
}
#player2ScoreContainer{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 20px;
    text-shadow: 0 2px 10px rgb(0, 255, 42);
}

#player1ScoreHere{
    display: inline-block;
    font-size: 30px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

#player2ScoreHere{
    display: inline-block;
    font-size: 30px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.bitcoin {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    display: inline-block;
}


/* Winning Text Modal Styling */
#winningModal {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    display: none;
}

#winningModalContent {
    width: 70vw;
    margin: 12% auto;
    color: lime;
    text-shadow: 0 0 20px black;
    font-family: 'Bungee', sans-serif;
    font-size: 100px;
    padding: 50px;
    text-align: center;
    /* border: 10px solid lime;
    background: rgba(255, 255, 255, 0.5); */
    border-radius: 20px;
}



/* Animations */
.scoreAnimation {
    animation: scoreAnimation;
    animation-duration: 1s;
}

.bitcoinSpin {
    animation: bitcoinSpin;
    animation-duration: 1s;
}

.blowUp {
    animation: blowUp;
    animation-duration: 1s;
}

.winning {
    animation: winning;
    animation-duration: 5s;
}

@keyframes scoreAnimation {
    0% {
        transform: scale(1.5);
    }
    50% {
        color: rgb(255, 251, 0);
    }
    100% {
        transform: scale(1);
        color: #fff;
    }
}

@keyframes bitcoinSpin {
    to {
        transform: rotateY(360deg);
    }
}

@keyframes blowUp {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes winning {
    0%{
        border-color: red;
        color: red;
    }
    25%{
        border-color: yellow;
        color: yellow;
    }
    35% {
        border-color: orange;
        color: orange;
    }
    50%{
        border-color: blue;
        color: blue;
        
    }
    75%{
        border-color: lightblue;
        color: lightblue;
    }
    100%{
        border-color: lime;
        color: lime;
    }
}

/* Game Reset Styling */
input {
    color: #fff;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 20px;
    left: 40%;
    transform: translateX(-40%);
    font-size: 15px;
    padding: 8px;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
    border: 5px solid rgb(0, 112, 153);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    z-index: 100;
    transition: all .4s ease;

}

input:hover {
    box-shadow: 0 0 50px #fff;
}

/* Styling for Instructions Modal */
#instructions button {
    position: absolute;
    top: 20px;
    right: 40%;
    transform: translateX(40%);
    color: #fff;
    background: rgba(0,0,0,.5);
    font-size: 15px;
    padding: 8px;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
    border: 5px solid rgb(0, 112, 153);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    z-index: 100;
    transition: all .4s ease;
}

button:hover {
    box-shadow: 0 0 50px #fff;
}

/* Styling for Instructions Modal */
.modal {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 10;
    border-radius: 10px;
    background: rgba(0,0,0,.7);
    position: fixed;
    color: #fff;
    font-family: 'Russo One', sans-serif;
}

.modalContent {
    background: rgba(0, 0, 0, 0.7);
    margin: 12% auto;
    height: 50vh;
    width: 50vw;
    padding: 20px;
    border: 10px solid rgb(0, 112, 153);
    box-shadow: 0 0 50px #fff;
    border-radius: 15px;
    animation: modalFadeIn;
    animation-duration: 1s;
    line-height: 30px;
}

.modalContent h1{
    margin-bottom: 20px;
    line-height: 50px;
}


.modalContent h2{
    font-family: 35px;
    color: rgb(255, 0, 255);
}

#closeBtn {
    height: 35px;
    width: 35px;
    color: #fff;
    float: right;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
   
}

#closeBtn:hover {
    color: rgb(0, 112, 153);
}

/* Animation to fade in the modal   */
@keyframes modalFadeIn{
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

/* Text Color Classes */
.yellow {
    color: yellow;
}
.lime {
    color: lime;
}
.blue {
    color: rgb(0, 183, 255);
}

.left {
    width: 40%;
    height: 300px;
    display: inline-block;
    margin-right: 15%;
}

.right {
    width: 40%;
    height: 300px;
    display: inline-block;
}