/* 
    AUTHOR: Jin Tak 
    TITLE: Space Racer 2: Into the Void
    WDI 6: Project 1 
    Landing Page Styling
 */

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for background image */
.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                url(../images/main-background.jpg) no-repeat center;
    background-size: cover;
    position: relative;

}

/* Styling for Main Text */
.main {
    width: 900px;
    /* border: 2px solid pink; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main h1 {
    /* border: 1px solid lime; */
    color: #fff;
    font-size: 100px;
    font-family: 'Bungee', sans-serif;
    text-shadow: 0 0 30px rgb(0, 112, 153);
    margin-bottom: 70px;
    animation: fadeIn 1.5s ease-in-out forwards;
    
}
.main h2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Bungee', sans-serif;
    text-shadow: 0 0 30px rgb(0, 112, 153);
    margin-bottom: 75px;
    animation: fadeIn 1.5s ease-in-out forwards;
}

/* Animation Styling */
@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
        transform: scale(1.3);
    }
}

/* Styling for Play button */
.numberOfPlayers {
    position: relative;
    width: 50%;
    height: 100px;
    /* border: 1px solid pink; */
    margin: 0 auto;
    margin-bottom: 30px;
}

.numberOfPlayers a {
    color: #fff;
    background: rgba(0,0,0,.5);
    font-size: 25px;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
    padding: 15px;
    border: 5px solid rgb(0, 112, 153);
    border-radius: 10px;
    transition: all .4s ease;
    
}
a:hover {
    box-shadow: 0 0 50px #fff;
}

#onePlayer {
    position: absolute;
    left: 0;
}
#twoPlayer {
    position: absolute;
    right: 0;
}


#instructions {
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid lime; */
}

#instructions button {
    color: #fff;
    background: rgba(0,0,0,.5);
    font-size: 20px;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
    padding: 15px;
    border: 5px solid rgb(0, 112, 153);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease;
}

button:hover {
    box-shadow: 0 0 50px #fff;
}

/* Styling for Instructions Modal */
.modal {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 10;
    border-radius: 10px;
    background: rgba(0,0,0,.7);
    position: fixed;
    color: #fff;
    font-family: 'Russo One', sans-serif;
}

.modalContent {
    background: rgba(0, 0, 0, 0.7);
    margin: 12% auto;
    height: 50vh;
    width: 50vw;
    padding: 20px;
    border: 10px solid rgb(0, 112, 153);
    box-shadow: 0 0 50px #fff;
    border-radius: 15px;
    animation: modalFadeIn;
    animation-duration: 1s;
}

#closeBtn {
    height: 35px;
    width: 35px;
    color: #fff;
    float: right;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
   
}

.closeBtn:hover {
    color: rgb(0, 112, 153);
}

/* Animation to fade in the modal   */
@keyframes modalFadeIn{
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}




/* Media Queries */
/* @media screen {
    
} */